<div class="flex my-10 py-6 message">
        <img data-src="{{ message.author.avatar_url_as(static_format='png', size=128) }}" height="140" width="140"
                data-placeholder-background="grey" class="lozad rounded-full mx-6 pfp" />
        <div class="flex-grow" {% if message.pinned %} id="pinned--{{message.id}}" {% endif %}>
                <div class="flex flex-row items-center">
                        <span class="{{class_name}} text-2xl font-bold">{{message.author.display_name}}:</span>
                        {% if message.pinned %}
                        <div class="text-lg rounded-lg border-2 border-solid flex px-3 py-2 m-2"
                                style="border-color: #5865f2">
                                📌
                        </div>
                        {% endif %}

                        <div class="has-tooltip ml-auto relative">
                                <div class="
						tooltip
						flex flex-col
						rounded
						shadow-lg
						p-1
						bg-gray-700
						-mt-8
						text-white
						p-8
					">
                                        <div class="text-lg font-bold">Author Information:</div>
                                        <div>
                                                Member ID: {% if message.author.id %}{{message.author.id}}{% else
                                                %}Proxied Message{% endif %}
                                        </div>
                                        <div>
                                                Meber Name: {{message.author.name}}#{{message.author.discriminator}}
                                        </div>
                                        {% if message.author.top_role %}
                                        <div style="color:rgb{{message.author.top_role.color.to_rgb()}}">
                                                Member Top Role: {{message.author.top_role.name}}
                                        </div>
                                        {% endif %}
                                        <div>------------------</div>
                                        <div class="text-lg font-bold">Message Info:</div>
                                        <div>Message ID: {{message.id}}</div>
                                        <div>Created: {{message.created_at.strftime("%x @ %-I:%M %p")}}</div>
                                        {% if message.edited_at %}
                                        <div>Edited: {{message.edited_at.strftime("%x @ %-I:%M %p")}}</div>
                                        {% endif %} {% if message.pinned %}
                                        <div>📌 Message Pinned!</div>
                                        {% endif %} {% if message.embed %}
                                        <div>Embeds: {{ message.embeds|length }}</div>
                                        {% endif %} {% if message.attachments %}
                                        <div>Attachments: {{ message.attachments|length }}</div>
                                        {% endif %} {% if message.mentions %}
                                        <div>
                                                Member Mentions:
                                                <ul>
                                                        {% for member in message.mentions %}
                                                        <li style="color:rgb{{ member.top_role.color.to_rgb() }}">
                                                                {{ member.name }}#{{ member.discriminator }} - {{
                                                                member.id }}
                                                                ({{member.top_role.name}})
                                                        </li>
                                                        {% endfor %}
                                                </ul>
                                        </div>
                                        {% endif %} {% if message.role_mentions %}
                                        <div>
                                                Role Mentions:
                                                <ul>
                                                        {% for role in message.role_mentions %}
                                                        <li style="color:rgb{{ role.color.to_rgb() }}">
                                                                {{ role.name }} - {{ role.id }} (Members Pinged: {{
                                                                role.members|length }})
                                                        </li>
                                                        {% endfor %}
                                                </ul>
                                        </div>
                                        {% endif %} {% if message.stickers %}
                                        <div>
                                                Stickers:
                                                <ul>
                                                        {% for sticker in message.stickers %}
                                                        <li>
                                                                <a href="{{sticker.image_url}}">{{ sticker.name }}</a> -
                                                                {{
                                                                stcker.id }} ({{ sicker.description }})
                                                        </li>
                                                        {% endfor %}
                                                </ul>
                                        </div>
                                        {% endif %} {% if message.reactions %}
                                        <div>
                                                Reactions:
                                                <ul>
                                                        {% for reaction in message.reactions %}
                                                        <li>
                                                                {% if reaction.custom_emoji %}
                                                                <img src="{{ reaction.emoji.url }}" width="30"
                                                                        class="inline-block"
                                                                        title=":{{reaction.emoji.name}}" />
                                                                {{ reaction.count }} {% else %}
                                                                <span title="{{reaction.emoji.name}}">{{ reaction.emoji
                                                                        }}</span>
                                                                {{ reaction.count }} {% endif %}
                                                        </li>
                                                        {% endfor %}
                                                </ul>
                                        </div>
                                        {% endif %}
                                </div>
                                <div class="
						rounded-lg
						border-2 border-solid
						flex
						items-center
						px-4
						py-2
						m-2
					" style="border-color: #5865f2">
                                        <span class="text-lg">ℹ️</span>
                                </div>
                        </div>
                </div>
                <div class="clean_content">
                        <div class="my-6">{{ message_content }}</div>
                </div>
                {% if embed %}
                <div class="px-7 py-3 border-l-4 rounded-xl embed text-xl" style="border-color:{{embed['color']}};">
                        {% if 'author' in embed or 'provider' in embed %}
                        <div class="flex flex-row items-center">
                                {% if "icon_url" in embed['author'] %}
                                <div>
                                        <img class="lozad rounded-full" data-src="{{ embed['author']['icon_url'] }}"
                                                style="width:50px" />
                                </div>
                                {% endif %}
                                <div class="my-2 mx-2 text-gray-50 text-xl font-bold">
                                        {% if 'provider' in embed %} {{embed['provider']['name']}} {% elif
                                        'author' in embed %} {% if "icon_url" in embed['author'] %}
                                        <a href="{{ embed['author']['url'] }}">
                                                {{embed['author']['name']}}
                                        </a>
                                        {% else %} {{embed['author']['name']}} {% endif %} {% endif %}
                                </div>
                        </div>
                        {% endif %}
                        <div class="flex flex-row">
                                <div class="my-3 flex flex-col flex-grow">
                                        <div class="
							my-3
							text-2xl
							font-bold{%
							if
							'url'
							in
							embed
							%}
							text-blue-400{%
							endif
							%}
						">
                                                {% if 'url' in embed %}<a href="{{embed['url']}}">{{ embed['title']
                                                        }}</a>{% else %}{{ embed['title'] }}{% endif %}
                                        </div>
                                        {% if 'description' in embed %}
                                        <div class="my-3">{{ embed['description'] }}</div>
                                        {% endif %}
                                </div>
                                <div class="flex-shrink-0">
                                        <img data-src="{{message.guild.icon_url_as(static_format='png')}}"
                                                data-placeholder-background="grey" width="250" height="250"
                                                class="lozad rounded-full" />
                                </div>
                        </div>
                        {% if 'fields' in embed %}
                        <div class="my-3 flex flex-col">
                                {% for field in embed['fields'] %}
                                <div>
                                        <div class="font-bold my-3">{{ field['name'] }}</div>
                                        <div class="my-3">{{ field['value'] }}</div>
                                </div>
                                {% endfor %}
                        </div>
                        {% endif %} {% if 'image' in embed %}
                        <div class="my-3">
                                <img data-placeholder-background="grey" class="lozad"
                                        data-src="{{ embed['image']['proxy_url'] }}" />
                        </div>
                        {% endif %} {% if 'footer' in embed %}
                        <div class="flex flex-row items-center">
                                {% if "icon_url" in embed['footer'] %}
                                <div>
                                        <img style="width: 2rem" class="my-3 lozad rounded-full"
                                                data-src="{{ embed['footer']['icon_url'] }}" />
                                </div>
                                {% endif %}
                                <div class="my-3 text-gray-400 mx-4">{{ embed['footer']['text'] }}</div>
                                {% if "timestamp" in embed %}
                                <div class="my-3 text-gray-400">{{ embed['timestamp'] }}</div>
                                {% endif %}
                        </div>
                        {% endif %}
                </div>
                {% endif %} {% if reactions %}
                <div class="my-3 flex flex-row">
                        {% for k,reaction in reactions.items() %}
                        <div class="has-tooltip ml-auto relative">
                                <div class="
						tooltip
						flex flex-col
						rounded
						shadow-lg
						p-1
						bg-gray-700
						-mt-8
						text-white
						p-8
					">
                                        {% for user in reaction.users %} {{ user.name }} - {{ user.id }}<br /> {%
                                        endfor %}
                                </div>
                                <div class="rounded-lg flex items-center px-4 py-2 m-2" style="border-color: #5865f2">
                                        <div class="rounded-lg border-2 border-solid flex items-center p-3 m-2"
                                                style="border-color: #5865f2">
                                                {% if reaction["custom_emoji"] %}
                                                <img src="{{ reaction['url'] }}" width="30"
                                                        title=":{{ reaction['name'] }}:" class="inline-block" />
                                                {% else %}
                                                <span class="text-base" title=":{{ reaction['name'] }}:">{{
                                                        reaction['url'] }}</span>
                                                {% endif %}
                                                <span class="text-white text-lg ml-3">{{ reaction['count'] }}</span>
                                        </div>
                                </div>
                        </div>
                        {% endfor %}
                </div>
                {% endif %}
        </div>
</div>
