<br />
<video class='lozad' data-src='{{embed['video']['url']}}' data-poster='//via.placeholder.com/150x150' height='{{embed['video']['height']}}' width='{{embed['video']['width']}}' loop preload autoplay controls>
        <source data-src='{{embed['video']['url']}}' type="video/mp4">
        Your browser does not support the video tag.
</video>
